.wd-kanbas-navigation {
    background-color: black;
    list-style: none;
    padding: 0px;
    margin: 0px;
    min-width: 85px;
    min-height: 100vh;
}

.wd-adjust {
    min-width: 250px;
    max-width: 250px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.p-4 hr{
    margin: 0px;
}

.p-4 hr.wd-hrblock{
    margin-left: 30px;
}

.p-4 h2{
    margin-top: 10px;
    margin-left: 30px;
}

.wd-kanbas-navigation li {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 0.8em;
    text-align: center;
}

.wd-kanbas-navigation li.wd-active {
    background-color: white;
}

.wd-kanbas-navigation li a.wd-account i {
    color: white;
}

.wd-kanbas-navigation li.wd-active a {
    color: #b52828;
}

.wd-kanbas-navigation a {
    color: white;
    text-decoration: none;
}

.wd-kanbas-navigation a i {
    color: #b52828;
    font-size: 2em;
    margin-bottom: 5px;
}